[submodule "src/DATA"]
	path = src/DATA
	url = git@github.com:Toranos/DATA.git
[submodule "src/IHM"]
	path = src/IHM
	url = git@github.com:adoulrac/IHM.git
[submodule "src/NET"]
	path = src/NET
	url = git@github.com:garciafl/NET.git
